pkgbase = opencode
	pkgdesc = The open source coding agent
	pkgver = 2.0.9
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = x86_64
	license = MIT
	makedepends = bun
	makedepends = git
	depends = curl
	depends = glibc
	depends = icu
	depends = ripgrep
	depends = tar
	optdepends = wl-clipboard: clipboard support on Wayland
	optdepends = xclip: clipboard support on X11
	options = !debug
	options = !strip
	source = git+https://github.com/anomalyco/opencode.git#tag=v2.0.9
	b2sums = caeed3b911582b2a955142556dcff95b2de9b490fad165b0b1f906f4b533b86ca8a21cefde648a3ac4fc6a52a365478c86ab224e80a1f69f35232d2964cce18e

pkgname = opencode
