pkgbase = opencode
	pkgdesc = The open source coding agent
	pkgver = 1.3.11
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = x86_64
	license = MIT
	checkdepends = nodejs-lts-jod
	makedepends = bun
	makedepends = git
	depends = curl
	depends = glibc
	depends = icu
	depends = ripgrep
	depends = tar
	optdepends = wl-clipboard: clipboard support on Wayland
	optdepends = xclip: clipboard support on X11
	options = !debug
	options = !strip
	source = git+https://github.com/anomalyco/opencode.git#tag=v1.3.11
	b2sums = dee2a78aa8c8a81b40f498eba8eb9f49a45095d681592009230b53e4075232bd3eb8dbd5c4a97aa673fb10387097a740ca031e05959b05fbd74a999c6c90d7ff

pkgname = opencode
