pkgbase = opencode
	pkgdesc = The open source coding agent
	pkgver = 1.17.9
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = x86_64
	license = MIT
	checkdepends = nodejs-lts-jod
	makedepends = bun
	makedepends = git
	depends = curl
	depends = glibc
	depends = icu
	depends = ripgrep
	depends = tar
	optdepends = wl-clipboard: clipboard support on Wayland
	optdepends = xclip: clipboard support on X11
	options = !debug
	options = !strip
	source = git+https://github.com/anomalyco/opencode.git#tag=v1.17.9
	b2sums = 85acfb82021195723842a3bfba85a4067b63a5bb45d9dfd41206f429b90c099feaa3067255f20a3546690226440dace1b3df284ec8be306a6e29e072725accb1

pkgname = opencode
